node_modules
dist/
logs/

# Keep environment variables out of version control
.env
.env.local
.env.production

/generated/prisma

# Uploads (dados do usuário)
uploads/videos/
uploads/hls/
uploads/images/
uploads/pdfs/
